.centered-div{
    display: flex;
    justify-content: center;
   padding-top: 5%;
}
body{
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: muli,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    margin: 0;
}
div.nav-bar{
    background-color: rgba(70, 70, 70, 0.503);
    padding: 0px;
    color: aliceblue;
    
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

td.hidden{
    visibility: hidden;
    border: 0;
}

table{
    border-collapse: collapse;
    
  
}
td{
    background-color: rgb(29, 194, 175);
    padding: 35px;
    
    border-bottom: 1px solid rgb(183, 255, 247);

}
td:hover{
    background-color: rgb(22, 152, 137);
    
}

td.corner-top-right{
    border-color: 0;
    border: 0;
    border-top-right-radius: 100%;
}
td.corner-top-left{
    border-color: 0;
    border: 0;
    border-top-left-radius: 100%;
}
td.corner-bottom-right{
    border-color: 0;
    border: 0;
    border-bottom-right-radius: 100%;
}
td.corner-bottom-left{
    border-color: 0;
    border: 0;
    border-bottom-left-radius: 100%;
}
td.rounded-left{
    border-bottom-left-radius: 50%;
    border: 0;
    border-top-left-radius: 50%;
}
td.rounded-right{
    border-bottom-right-radius: 50%;
    border: 0;
    border-top-right-radius: 50%;
}
td.rounded-down{
    border-bottom-right-radius: 50%;
    border: 0;
    border-bottom-left-radius: 50%;
}

td.position-right{
    text-align: right;
}