.centered-div{
    display: inline-block;
    width: 48%; /* Vous pouvez ajuster la largeur en fonction de vos besoins */
    box-sizing: border-box;
    border: 0;
    margin: 1%; /* Espace entre les boîtes, ajustez selon vos préférences */
    display: flex;
    justify-content: center;
   padding-top: 5%;
}

body{
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: muli,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    margin: 0;
    height: 100%;
}

html{
    height: 100%;
}

div.nav-bar{
    background-color: rgba(70, 70, 70, 0.503);
    padding: 0px;
    color: aliceblue;
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

td.hidden{
    visibility: hidden;
    border: 0;
}

table{
    border-collapse: collapse;
}

td{
    padding: 35px;
    border-bottom: 1px solid rgb(183, 255, 247);
}

td.corner-top-right{
    border-color: 0;
    border: 0;
    border-top-right-radius: 100%;
}

td.corner-top-left{
    border-color: 0;
    border: 0;
    border-top-left-radius: 100%;
}

td.corner-bottom-right{
    border-color: 0;
    border: 0;
    border-bottom-right-radius: 100%;
}

td.corner-bottom-left{
    border-color: 0;
    border: 0;
    border-bottom-left-radius: 100%;
}

td.rounded-left{
    border-bottom-left-radius: 50%;
    border: 0;
    border-top-left-radius: 50%;
}

td.rounded-right{
    border-bottom-right-radius: 50%;
    border: 0;
    border-top-right-radius: 50%;
}

td.rounded-down{
    border-bottom-right-radius: 50%;
    border: 0;
    border-bottom-left-radius: 50%;
}

td[id^="joueur"][id$="-color"]{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    border: 0;
}



td.position-right{
    text-align: right;
}

td.color-1{
    background-color: #1DC2AF;
}

td.color-2{
    background-color: #18A090;
}

td.color-3{
    background-color: #137C70;
}

td.color-4{
    background-color: #0E5850;
}
td.color-5{
    background-color: #083530;
}
td.joueur-name{
    border: 0;
}

.classMere {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
}

.modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}

/* Styles pour la fenêtre */
.modal {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
    position: relative;
    width: 600px;
    margin: auto;
}
@keyframes fadeInAndSlide {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Appliquez l'animation à la fenêtre modale */
.modal {
    animation: fadeInAndSlide 0.2s ease-in-out;
}

button#genererPDF{
    background-color: #8ab4af;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
button#genererJson{
    background-color: #b89180;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}





/* Styles pour le bouton de fermeture de la fenêtre modale */
.close-button {
    cursor: pointer;
    color: #555;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.square {
    width: 10px; 
    height: 10px;
    background-color: #e02c2c;
 }

 .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #840d72;
 }

 .triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8.66px solid #2d23c6; 
}  